

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a  
                   href="#">
                   Seller Dashboard
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a  
                      href=".">Shop-Mall</a> 
                      <!-- - coded by <a href="#"></a> -->
          </div>
        </div>
    </footer>
